{% use '@SidusFilter/Form/bootstrap.fields.html.twig' %}

{% block sidus_date_range_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ block('global_form_errors') }}
            {% endif %}
            <div class="input-group mb-3">
                {{ form_widget(form.startDate) }}
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'sidus.filter.date_range.to'|trans }}</span>
                </div>
                {{ form_widget(form.endDate) }}
            </div>
            {{ form_errors(form.startDate) }}
            {{ form_errors(form.endDate) }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block sidus_link_widget %}
    {% spaceless %}
        {% if label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {% if not uri %}
            {% set uri = path(route, route_parameters) %}
        {% endif %}
        <a href="{{ uri }}" {{ block('button_attributes') }}>
            {{ label|trans({}, translation_domain)|raw }}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sidus_link_row %}
    {{ block('sidus_link_widget') }}
{% endblock %}
