{# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
{# @var pager \Pagerfanta\Pagerfanta #}
{% set pager = datagrid.queryHandler.pager %}

{% set form = datagrid.formView %}
{% if datagrid.formTheme %}
    {% form_theme form datagrid.formTheme %}
{% endif %}
{{ form_start(form) }}

{% block filters %}
    {% if form.filters|length > 0 %}
        <div class="datagrid-filters">
            <div class="row">
                {% for subForm in form.filters %}
                <div class="col-md-4">
                    {{ form_row(subForm) }}
                </div>
                {% if loop.index % 3 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {% block filters_actions %}
                <div class="datagrid-filters-actions btn-group pull-right">
                    {% if datagrid.formView.filterResetButton is defined %}
                        {{ form_widget(datagrid.formView.filterResetButton) }}
                    {% endif %}
                    {% if datagrid.formView.filterSubmitButton is defined %}
                        {{ form_widget(datagrid.formView.filterSubmitButton) }}
                    {% endif %}
                </div>
            {% endblock %}
            <hr class="clear">
        </div>
    {% endif %}
{% endblock %}

{% block datagrid_actions %}
    <div class="datagrid-actions">
        <div class="pull-right">
            {{ pagerfanta(pager, 'twitter_bootstrap3') }}
        </div>
        <div class="btn-group">
            {% for action in datagrid.formView.actions %}
                {{ form_widget(action) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block datagrid_table %}
    {% set sort = datagrid.formView.sortable %}
    <table class="table table-striped">
        {% block datagrid_table_captions %}
            <caption>{{ pager.count }} {{ 'sidus.datagrid.results.label'|trans }}</caption>
        {% endblock %}
        {% block datagrid_table_headers %}
            <thead>
            <tr>
                {% for column in datagrid.columns %}
                    <th>
                        {% if sort[column.sortColumn] is defined %}
                            {{ form_widget(sort[column.sortColumn], {label: column.renderLabel}) }}
                        {% else %}
                            {{ column.renderLabel }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            </thead>
        {% endblock %}
        {% block datagrid_table_body %}
            <tbody>
            {% for result in pager %}
                <tr class="datagrid-row"{% if result.id is defined %} data-entity-id="{{ result.id }}"{% endif %}>
                    {% for column in datagrid.columns %}
                        <td>
                            {% if column.template %}
                                {% include column.template %}
                            {% else %}
                                {{ column.renderValue(result) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}

{% if pager.maxPerPage > 6 and pager.nbPages > 1 %}
    {{ block('datagrid_actions') }}
{% endif %}

{{ form_end(form) }}
