{% macro render(datagrid) %}
    {% set form = datagrid.formView %}

    {% form_theme form datagrid.formTheme %}
    {{ form_start(form) }}
        {% if form.filters|length > 0 %}
            {{ form_widget(form.filters) }}
            {{ _self.filter_actions(datagrid) }}
            <hr class="clear">
        {% endif %}
        {% block datagrid_actions %}
            {{ _self.actions(datagrid) }}
        {% endblock %}

        {{ _self.table(datagrid) }}

        {% if datagrid.filterConfig.pager.count > 10 %}
            {{ block('datagrid_actions') }}
        {% endif %}
    {{ form_end(form) }}
{% endmacro %}

{% macro filter_actions(datagrid) %}
    <div class="btn-group pull-right">
        {{ form_widget(datagrid.formView.filterResetButton) }}
        {{ form_widget(datagrid.formView.filterSubmitButton) }}
    </div>
{% endmacro %}

{% macro actions(datagrid) %}
    <div class="datagrid-actions">
        <div class="pull-right">
            {{ pagerfanta(datagrid.filterConfig.pager, 'twitter_bootstrap3') }}
        </div>
        <div class="btn-group">
            {{ form_widget(datagrid.formView.actions) }}
        </div>
    </div>
{% endmacro %}

{% macro table(datagrid) %}
    {% set sort = datagrid.formView.sortable %}
    <table class="table table-striped">
        <caption>{{ datagrid.filterConfig.pager.count }} results</caption>
        <thead>
        <tr>
            {% for column in datagrid.columns %}
                <th>
                    {{ column.label|trans }}
                    {% if sort[column.sortColumn] is defined %}
                        {{ form_widget(sort[column.sortColumn]) }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for result in datagrid.filterConfig.results %}
                <tr id="datagrid_row_{{ datagrid.code }}__{{ result.id }}">
                    {% for column in datagrid.columns %}
                        <td>
                            {% if column.template %}
                                {% include column.template %}
                            {% else %}
                                {{ render_object_value(result, column) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}