{% macro render(datagrid, viewParameters) %}
    {# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
    {% import _self as current %}
    {% set form = datagrid.formView %}

    {% form_theme form datagrid.formTheme %}
    {{ form_start(form) }}
    {% if form.filters|length > 0 %}
        <div class="datagrid-filters">
            <div class="row">
                {% for subForm in form.filters %}
                {{ form_row(subForm) }}
                {% if loop.index % 3 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {{ current.filter_actions(datagrid, viewParameters) }}
            <hr class="clear">
        </div>
    {% endif %}
    {% block datagrid_actions %}
        {{ current.actions(datagrid, viewParameters) }}
    {% endblock %}

    {{ current.table(datagrid, viewParameters) }}

    {% if datagrid.queryHandler.pager.count > 10 %}
        {{ block('datagrid_actions') }}
    {% endif %}
    {{ form_end(form) }}
{% endmacro %}

{% macro filter_actions(datagrid, viewParameters) %}
    {# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
    <div class="datagrid-filters-actions btn-group pull-right">
        {{ form_widget(datagrid.formView.filterResetButton) }}
        {{ form_widget(datagrid.formView.filterSubmitButton) }}
    </div>
{% endmacro %}

{% macro actions(datagrid, viewParameters) %}
    {# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
    <div class="datagrid-actions">
        <div class="pull-right">
            {{ pagerfanta(datagrid.queryHandler.pager, 'twitter_bootstrap3') }}
        </div>
        <div class="btn-group">
            {% for action in datagrid.formView.actions %}
                {{ form_widget(action) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro table(datagrid, viewParameters) %}
    {# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
    {% set sort = datagrid.formView.sortable %}
    <table class="table table-striped">
        <caption>{{ datagrid.queryHandler.pager.count }} {{ 'sidus.datagrid.results.label'|trans }}</caption>
        <thead>
        <tr>
            {% for column in datagrid.columns %}
                <th>
                    {{ column.label|capitalize }}
                    {% if sort[column.sortColumn] is defined %}
                        {{ form_widget(sort[column.sortColumn]) }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for result in datagrid.queryHandler.pager %}
            <tr class="datagrid-row"{% if result.id is defined %} data-entity-id="{{ result.id }}"{% endif %}>
                {% for column in datagrid.columns %}
                    <td>
                        {% if column.template %}
                            {% include column.template %}
                        {% else %}
                            {{ render_object_value(result, column) }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
