{% macro render(datagrid) %}
    {% set form = datagrid.form %}

    {% form_theme form datagrid.formTheme %}
    {{ form_start(form) }}
        {{ form_widget(form.filters) }}
        {{ _self.filter_actions(datagrid) }}
        <hr class="clear">
        {% block datagrid_actions %}
            {{ _self.actions(datagrid) }}
        {% endblock %}

        {{ _self.table(datagrid) }}

        {% if datagrid.filterConfig.pager.count > 10 %}
            {{ block('datagrid_actions') }}
        {% endif %}
    {{ form_end(form) }}
{% endmacro %}

{% macro filter_actions(datagrid) %}
    <div class="btn-group pull-right">
        <a href="{{ datagrid.form.vars.attr.action is defined ? datagrid.form.vars.attr.action : '?' }}" class="btn btn-default">
            <i class="fa fa-times"></i> {{ 'sidus.datagrid.reset.label'|trans() }}
        </a>
        <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> {{ 'sidus.datagrid.filter.label'|trans() }}</button>
    </div>
{% endmacro %}

{% macro actions(datagrid) %}
    <div class="datagrid-actions">
        <div class="pull-right">
            {{ pagerfanta(datagrid.filterConfig.pager, 'twitter_bootstrap3') }}
        </div>
        <div class="btn-group">
            <a href="#todo" class="btn btn-primary" data-target="tg_right">
                <i class="fa fa-plus"></i> {{ 'sidus.datagrid.create.label'|trans() }}
            </a>
        </div>
    </div>
{% endmacro %}

{% macro table(datagrid) %}
    {% set sort = datagrid.form.sortable %}
    <table class="table table-striped">
        <caption>{{ datagrid.filterConfig.pager.count }} results</caption>
        <thead>
        <tr>
            {% for column in datagrid.columns %}
                <th>
                    {{ column.label|trans }}
                    {% if sort[column.sortColumn] is defined %}
                        {{ form_widget(sort[column.sortColumn]) }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for result in datagrid.filterConfig.results %}
                <tr id="datagrid_row_{{ datagrid.code }}__{{ result.id }}">
                    {% for column in datagrid.columns %}
                        <td>
                            {% if column.template %}
                                {% include column.template %}
                            {% else %}
                                {{ render_object_value(result, column) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}