{% use '@SidusFilter/Form/fields.html.twig' %}

{% block sidus_order_button_widget %}
    {% set attr = attr|merge({class: 'sort-button'}) %}
    {{ parent() }}
{% endblock %}

{% block sidus_date_range_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ block('global_form_errors') }}
            {% endif %}
            <div class="input-daterange input-group" data-datepicker="range">
                {{ form_widget(form.startDate) }}
                <span class="input-group-addon">{{ 'sidus.filter.date_range.to'|trans }}</span>
                {{ form_widget(form.endDate) }}
            </div>
            {{ form_errors(form.startDate) }}
            {{ form_errors(form.endDate) }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block sidus_link_widget %}
    {% spaceless %}
        {% if label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {% if not uri %}
            {% set uri = path(route, route_parameters) %}
        {% endif %}
        <a href="{{ uri }}" {{ block('button_attributes') }}>
            {{ prefix|default() }}{{ label|trans({}, translation_domain)|raw }}{{ suffix|default() }}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sidus_link_row %}
    {{ block('sidus_link_widget') }}
{% endblock %}
