{% block sidus_link_widget %}
    {% spaceless %}
        {% if label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {% if not uri %}
            {% set uri = path(route, route_parameters) %}
        {% endif %}
        <a href="{{ uri }}" {{ block('button_attributes') }}>
            {% if icon is not empty %}
                <i class="fa fa-{{ icon }}"></i>
            {% endif %}
            {{ label|trans({}, translation_domain) }}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sidus_link_row %}
    {{ block('sidus_link_widget') }}
{% endblock %}
